*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #fdf9ff;
}
header{
    text-align: center;
    margin: 15px 0 ;
}
form{
    padding: 10px;
}
#animal-form{
    width: 30%;
    background: rgb(47,79,79);
    margin: auto;
    padding: 10px 0 10px 0;
    text-align: center;
    border-radius: 15px 15px 0 0;
}
label{
    margin-left: 25px;
    margin-top: 30px;
    width: 125px;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
}
.cards {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}
button{
    padding: 5px;
    margin-bottom: 5px;
}
.donation-count {
    color: grey;
    font-size: 22px;
    margin: 40px 0;
}